#id1 {
    background-color: lightgreen;
}

* {
    background-color: lightcyan;
}

div {
    background-color: lightseagreen;
}

.cl1 {
    background-color: lightcoral;
}

#id1 {
    background-color: lightsteelblue;
}

.cl1 {
     background-color: lightskyblue;
}