.box {
    margin: 20px;
    padding: 10px;
    border: solid black 3px;
}

#div1 {
    background-color: lightgreen;
}

#div2 {
    background-color: lightsalmon;
}

#div3 {
    background-color: lightcyan;
}