
#samplediv {
    height: 300px;
    width: 300px;
    background-color: indianred;
}

@media (max-width: 1500px) and (min-width: 1000px) {
    #samplediv {
        background-color: darkcyan;
    }
}
@media (max-width: 750px)  and (min-width: 500px) {
    #samplediv {
        width: 200px;
        background-color:mediumvioletred;
    }
}

@media (max-width: 1000px)  and (min-width: 750px) {
    #samplediv {
        background-color: peru;
    }
}



@media (max-width: 500px) {
    #samplediv {
        width: 100px;
        background-color: green;
    }
}

@media (min-width: 720px) and (orientation: landscape) {

}

@media (not (color)) {
    #samplediv {
        background-color: gray;
    }
}