div {
    margin: 100px;    
}
#div1 {
    background-color: red;
    height: 80px;
    width: 80px;
}

#div2 {
    background-color: darkslategrey;
    height: 50px;
    width: 50px;
}

#div1:hover {
    background-color: blue;
    height: 40px;
    transition: height 2s, background 4s;
}

div:hover + div {
    margin-left: 200px;
    transition: margin 2s;
}