#div1 {
    height: 70px;
    width: 70px;
    margin: 150px;
    background-color: orange;
    /* transform: translate(30px, -30px); */
    /* transform: scale(0.5) */
    /* transform: skew(0deg, 0) */
    /* transform: rotateX(120deg) */
    /* transform: scaleY(-0.5) */
    /* transform: translateX(30px) */

}