<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Add a person</h3>
    <form method="post" action="/add">
        <input type="text" name="name" placeholder="Name"> <br>
        <input type="number" name="age" placeholder="Age"> <br>
        <input type="text" name="city" placeholder="City"> <br>
        <input type="submit">
    </form>
    
</body>
</html>